/* === CONTAINER DOS CARROSÉIS === */
.carrossel-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;              /* espaço entre os carrosséis */
  margin-top: 60px;       /* espaço entre banner e carrossel */
}

/* === CADA CARD === */
.carrossel-card {
  background: linear-gradient(to right, #0277bd,rgb(104, 206, 221));
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  overflow: hidden;
  width: 320px;
  text-align: center;
  transition: transform 0.3s ease;
  animation: aparecer 0.6s forwards;
}
.carrossel-card button{
  border-radius: 10px;
  background-color: green;
  color: white;
  padding: 10px 15px;
}
.carrossel-card:hover {
  transform: scale(1.03);
}

/* === CARROSSEL === */
.carrosel {
  position: relative;
}

.slide {
  display: none;
}

.slide.ativo {
  display: block;
}

.slide img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.descricao {
  padding: 12px;
  background: rgba(5, 11, 75, 0.4);
  border-radius: 0 0 15px 15px;
}

/* === PONTINHOS === */
.dots-container {
  text-align: center;
  padding: 10px 0 15px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #007bff;
  transform: scale(1.3);
}










button {
  background: #005bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background: #003ec2;
}

/* Fundo escuro atrás do modal */
.modal-fundo {
  display: none; /* fica invisível até clicar */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(184, 41, 41, 0.6);
  justify-content: center;
  align-items: center;
}

/* Caixa do modal */
.modal {
  background: white;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Botão de fechar (X) */
.fechar {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: #999;
}
.fechar:hover {
  color: #afa7a7;
}
